{% extends 'layouts/main.twig' %}

{% block content %}
    {% for item in basket %}
        <h1>{{ item.good.name }}</h1>
        <p>Количество: {{ item.count }}</p>
        <p>
            <a href="/good/one?id={{ item.good.id }}">
                {{ item.good.info }}
            </a> <br>
            <a href="/basket/add?id={{ item.good.id }}">+</a>
            <a href="/basket/remove?id={{ item.good.id }}">-</a>
        </p>
        <hr>
    {% else %}
        <h3>{{ msg }}</h3>
        <p>Корзина пуста</p>
    {% endfor %}
    <a href="/order/insert">Оформить заказ</a>
{% endblock %}